body {
    background-color: #90c7e3 ; color:#666666; font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #FFFFFF, #90c7e3);
    background-repeat: no-repeat;
}
header {
    background-color: #1976d2; color:#FFFFFF; font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("sunset.jpg");
    background-position: right;
    background-repeat: no-repeat;
    height: 72px
}
h1 {
    text-align: center;
    padding-top: .5em;
}
nav {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    text-align: center;
}

h2 {
    color: #1976d2; font-family: Georgia, 'Times New Roman', Times, serif;
}
dt {
    color:#002171; font-weight: 300;
}

.resort {
    color:#1976d2; font-size: 1.2em;
}


footer {
    font-size: small; font-size: .70em;
    padding: 1em;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 4px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    padding-left: 2em;
    padding-right: 2em;
}
#homehero {
    background-image: url("coast.jpg"); height: 300px;
    background-size: 100% 100%;
}
#yurthero {
    background-image: url("yurt.jpg"); height: 300px;
    background-size: 100% 100%;
}
#trailhero {
    background-image: url("trail.jpg"); height: 300px;
    background-size: 100% 100%;
}
nav a {
    text-decoration: none;
}